.card {
    width: 440px;
    height: 520px;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.card-image {
    height: 293px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 4.5px;
    border-top-right-radius: 4.5px;
}

.card-content {
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
